.itm{
	height: 500px;
	width:100%;
	position: relative;
}

.visimg{
	float: center;
	position: absolute;
	width: 100%;
}

.extdescript{
	opacity: 0;
	float: center;
	position: absolute;
	width: 100%;
	&:hover{opacity: 0.4};
}


.descript {
	background-color: black;
	color: #facade;
	position: relative;
	float: right;
	align: justify;
	width: 100%;
}


