$item-height: 500;
$appear-bg: 0.7;
$zero: 0;

.item{
	height: $item-height;
	width: 100%;
	position: relative;
}

.all_text{
	background-color: black;
	position: absolute; top: 0px;
	height: 100%;
	width: 100%;
	opacity: $zero;
	&:hover{opacity:$appear-bg;};
}

.short_desc{
	position: absolute; top: 45%; left: 20%;
	font-size:2rem;
	color: #facade;	
}

.long_desc{
	opacity:$zero;
	top: 5rem; 
	color: #facade;
}

.links{
	opacity:$zero;
	float: left;
	bottom: 5rem;
	width:50%;
	color: white;
}

.design{
	opacity:$zero;
	float: right;
	bottom: 5rem;
	width:50%;
	color: red;
}

.reveal_details{
	.short_desc{
		opacity:$zero;
	}
	
	.long_desc{
		opacity:1;
	}

	.links{
		opacity:1;
	}

	.design{
		opacity:1;
	}

}